body{
   background-color: rgb(238, 235, 230);
}
.logo{
   background-color: black;  
}
.logo img{
   float: left;
   border:solid 1px;
   border-radius: 3px;
   width: 100px;
}
.logo h1{
   text-align: left;
   font-size: 5.5rem;
   color: navy;
}

 #myTable{
     font-family: sans-serif;
     border-collapse: collapse;
     width:100%;
     height: auto;
 }

 #myTable th, #myTable td{
    border: 2px solid white;
    padding: 8px;   
 }

 #myTable tr:nth-child(even){background-color: black;color: white;}
 #myTable tr:nth-child(odd){background-color: black;color: white;}


 #myTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
 }

 #myTable button {
    padding: 2px;
    font-size: 18px;
    height: 50px;
    background-color: black;
    text-align: center;
    width: 100px;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
 }

 #myTable input {
    padding: 2px;
    text-align: center;
    border: none;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(186, 177, 226);
    color: black;
 }

 #myTable #t2 {
      border-style: white;
 }
 #myTable #t3 {
   border-style: white;
}
#myTable #sum,#discount,#final {
   background-color:black ;
   color: white;
   border-radius: 15px;
   width: 250px;
   text-align: center;
   font-size: 18px;
}
button {
padding: 12px 50px;
border: none;
background-color: black;
cursor: pointer;
display: inline-block;
}

input {
padding: 12px 20px;
}

#download,#home {
   color: whitesmoke;
   border-radius: 6px;
   font-size: 20px;
}
#download:hover {
   background-color: brown;
}
#home:hover {
   background-color: brown;
}